* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
    line-height: 1.7;
}

header {
    background: #000;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    color: #00eaff;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#00000060,#00000060), url('https://images.pexels.com/photos/1181671/pexels-photo-1181671.jpeg') no-repeat center center/cover;
}

.hero h1 span {
    color: #00eaff;
}

.btn {
    background: #00eaff;
    color: #000;
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.about, .services, .projects, .contact {
    padding: 60px 40px;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #00eaff;
}

footer {
    background: #000;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}
